@import url('https://fonts.google.com/specimen/Merienda');

* {
	padding: 0;
	margin: 0;
	font-family: 'Merienda', serif;
}

.form-signin {
	text-align: center;
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
	margin-top: 10%;
}